/* App */

.App {
  text-align: center;
}

.pageHeader{
  width: 80vw;
  margin: 0 auto;
  margin-top: 2%;
  text-align: center;
  text-underline-offset: 1rem;
  text-decoration: 2px underline white;
}

.list {
  width: 95vw;
  padding: 2em;
  margin: 0 auto;  
  margin-top: 5vh;
}

.row {
  margin: 0 auto;
}

.item {
  width: 20rem;
  height: 12rem;
  border-color: rgb(114, 160, 193);
}