/* App */

.App {
  text-align: center;
}

.pageHeader{
  width: 80vw;
  margin: 0 auto;
  margin-top: 2%;
  text-align: center;
  text-underline-offset: 1rem;
  text-decoration: 2px underline white;
}

.list {
  width: 95vw;
  padding: 2em;
  margin: 0 auto;  
  margin-top: 5vh;
}

.row {
  margin: 0 auto;
}

.item {
  width: 20rem;
  height: 12rem;
  cursor: pointer;
  border: 2px solid;
  border-radius: 1em;
  border-color: rgb(114, 160, 193);
}

.item:hover {
  border-color: rgba(211, 39, 76, 0.534);
}

.item:active {
  border-color: white;
}